body,
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
#footer {
    margin-top: 1rem;
}
hr {
    border-style: solid;
}
