body, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar, #footer {
    height: 3rem;
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
#navbar {
    gap: 1rem;
    margin-bottom: 1rem;
}
#footer {
    margin-top: 1rem;
}